@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.error-page {
    font-family: Roboto;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    color: rgba(0,212,255,1); 

    span {
        color: #000;
    }
}